
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3
/Backend/my_custom_model/


node_modules/
dist/
build/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

.DS_Store
Thumbs.db
.vscode/
.idea/


*.safetensors
*.bin
*.model
*.pt
*.h5
